<div class="search-results my-2 " data-search-target="list">
  <% if articles.empty? %>
    <p class="text-lg text-slate-800">There are no searches available in our DB yet</p>
  <% else %>
    <div class="list grid grid-cols-2 gap-4">
      <% articles.each do |article| %>
        <%= render 'articles/article', article: article %>
      <% end %>
    </div>
  <% end %>
</div>